@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(32deg, #410e8e 0%, #3a51a4 100%);
  margin: 0;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
}

input[type='text'] {
  background: transparent;
  border: 2px solid white;
}
textarea:focus,
input:focus {
  outline: white;
}

.mainbg {
  background: linear-gradient(32deg, rgba(65, 14, 142, 0.7) 0%, rgba(58, 81, 164, 0.7) 100%);
}
.darkbg {
  box-shadow: 0px 4px 30px 4px rgba(46, 15, 115, 0.9);
  background: rgba(19, 2, 66, 0.85);
}
.roomcontainer {
  height: 100%;
}
.footer {
  display: none;
}

@media (max-width: 768px) {
  .roomcontainer {
    height: 100% !important;
    margin-bottom: auto !important;
  }
  .footer {
    display: none !important;
  }
}

@media (min-height: 870px) {
  .roomcontainer {
    height: 80%;
    margin-top: auto;
    margin-bottom: 120px;
  }
  .footer {
    display: flex;
  }
}
@media screen and (min-height: 600px) and (min-width: 1024px) {
  .left {
    left: -40px !important;
  }
  .right {
    right: -100px !important;
  }
}
@media screen and (min-height: 870px) and (min-width: 1280px) {
  .left {
    left: 80px !important;
  }
  .right {
    right: 80px !important;
  }
}
@media (max-height: 700px) {
  .avatartable {
    overflow-x: scroll;
    height: 150px;
  }
  .mainavatar {
    width: 100px;
    height: 120px;
  }
  input {
    height: 35px !important;
    font-size: medium !important;
  }
  .roombutton {
    height: 35px !important;
    font-size: medium !important;
  }
}
