@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(32deg, #410e8e 0%, #3a51a4 100%);
  margin: 0;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  font-family: 'Amaranth', sans-serif;
}
input[type='text'] {
  background: transparent;
  border: 2px solid white;
}
textarea:focus,
input:focus {
  outline: white;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}

.mainbg {
  background: linear-gradient(32deg, rgba(65, 14, 142, 0.7) 0%, rgba(58, 81, 164, 0.7) 100%);
}
.darkbg {
  box-shadow: 0px 4px 30px 4px rgba(46, 15, 115, 0.9);
  background: rgba(19, 2, 66, 0.85);
}
.darkbutton {
  background: rgba(19, 2, 66, 0.85);
}

.gamecontainer {
  height: 870px;
}
.roomcontainer {
  height: 100%;
}
.footer {
  display: none;
}
.largeshadow {
  filter: drop-shadow(0px 4px 30px rgba(46, 15, 115, 0.9));
}
:root {
  --trickyScale: 1;
  --trickyScale2: 1;
}
#fade-in-fast {
  animation: fadein 1s;
}
#fade-in {
  animation: fadein 2s;
}
.fade-out {
  animation: fadeout 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slidein {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(-200px);
  }
}

#gameContainer {
  transform: scale(var(--trickyScale));
}
#domino {
  transform: scale(calc(1 - var(--trickyScale) + 1));
  width: calc(var(--trickyScale) * 160px);
  height: calc(var(--trickyScale) * 80px);
}
.turneddomino {
  width: calc(var(--trickyScale) * 80px) !important;
  height: calc(var(--trickyScale) * 160px) !important;
}
.dominoimg {
  width: calc(var(--trickyScale) * 80px);
  height: calc(var(--trickyScale) * 80px);
}

.dominosmall {
  width: calc(var(--trickyScale) * 60px);
  height: calc(var(--trickyScale) * 60px);
}

@media (max-width: 768px) {
  .roomcontainer {
    height: 100% !important;
    margin-bottom: auto !important;
  }
  .slide-in {
    animation: slidein 2s;
  }
  #fade-in {
    animation: none !important;
  }
  #gameContainer {
    height: 100vh !important;
    width: 100vw !important;
  }
  .gamecontainer {
    height: 100% !important;
    margin-bottom: auto !important;
  }
  .footer {
    display: none !important;
  }
  .dominoimg {
    height: 14.5vw !important;
    width: 14.5vw !important;
  }
  #domino {
    width: auto !important;
    height: auto !important;
  }
}
@media (max-height: 870px) {
  .footer {
    display: none !important;
  }
}
@media (min-height: 870px) {
  .roomcontainer {
    height: 740px;
    margin-bottom: 120px;
    margin-top: auto;
  }
  .gamecontainer {
    height: 870px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .footer {
    display: flex;
  }
}
@media screen and (min-height: 600px) and (min-width: 1024px) {
  .left {
    left: -40px !important;
  }
  .right {
    right: -100px !important;
  }
}
@media screen and (min-height: 870px) and (min-width: 1280px) {
  .left {
    left: 80px !important;
  }
  .right {
    right: 80px !important;
  }
}
@media (max-height: 700px) {
  .avatartable {
    overflow-x: scroll;
    height: 150px;
  }
  .mainavatar {
    width: 100px;
    height: 120px;
  }
  input {
    height: 35px !important;
    font-size: medium !important;
  }
  .roombutton {
    height: 35px !important;
    font-size: medium !important;
  }
}
